{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">

body {
    background-color: white-space;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color: black  ;
  align-items: center;
  align-self: center;
  align-content: center ;
  text-align: center;
  

}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-top: 40% ;
  padding-top: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


</head>
<body> 

<div class= "container" style="align-items: center;">
<div class = "center"> 
<div class = "card" style="text-align: center;align-items: center;">
  <form method="POST">
    <div class="form-group">
       {% csrf_token %}
       <label>Username:</label>
       <input name="Username" id="Username" type="text" required>
   </div>
   <div class="form-group">
     <label>Password: </label>
     <input name="Password" id="Password" type="password" required>
   </div>
   <div class="form-group">
      <input type="submit" value="Log In" id="log-in" name="login" class="btn btn-warning">
  </form>
         <h4>Dont have an account yet? </h4><br>
         <a href = "{% url 'main:signup' %}">
         <input  value="Sign Up" class="btn" name="signbut" style="background-color: #38C781;">
         </a>
            {% for i in messages %}
            <h3>{{ i }}</h3>
            {% endfor %}
          
</div>
</div>
</div>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</div>
</body>
</html>


