{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">

body {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color:black;

}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


</head>
<body> 
<div class="container pl-2">
<div class="col md-6 pt-5 pl-5" style="color: white">

  <h2> SIGN UP </h2>

  <form method="POST">
    <div class="form-group">
       {% csrf_token %}
       <label>Username:</label>
       <input name="Username" id="Username" type="text" required>
   </div>
   <div class="form-group">
     <label>Password: </label>
     <input name="Password" id="Password" type="password" required>
   </div>
   <div class="form-group">
     <a href="{% url 'main:signup' %}">
      <input type="submit" value="SIGN UP" id="log-in" class="btn btn-warning" name="signup">
      </a>
        {% for i in messages %}
        <h3>{{ i }}</h3>
        {% endfor %}


   </div>
  
  </form>
  <a href="{% url 'main:Landing' %}">
    <input type="submit" value="back to landing page" class="btn btn-warning" name="signup">
    </a>



</div>
</div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</div>
</body>
</html>


